# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build
/starsring_app/build_debug/*
!/starsring_app/build_debug/README
/starsring_app/build_release/*
!/starsring_app/build_release/README
/starsring_app/build_vsc/*
!/starsring_app/build_vsc/README

# cache for my calulator:
/starsring_optimizer/cache/*.log